.special{
    background-color: #98e698;
    color:white;
    border:none;
}

.special option{
    color:black;


}


.expensebutton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(250, 242, 242);
    border-radius: 50%;
    font-size: 50px;
    color: white;
   
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;   
}

.expensebutton span{
    margin-bottom: 10;
}